.containerPainel {
  display: flex;
  width: 100%;
  justify-content: center;
}

.content {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titulo {
  justify-content: center;
  align-items: center;
}

.titulo h1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  z-index: -1;
  width: 300px;
  position: absolute;
}
